.ipynb_checkpoints
*.DS_Store
*.egg-info
*__pycache__
*.png
*.pkl
*.jpg
.vscode/
experiemnts/
*.pt
*.pth
*.png
*.jpg
*.jpeg
*.gif
*.bmp
homeworks/hw1/deepul
archived/
build/
homeworks/hw3/deepul
homeworks/hw3/data